* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

.main-content {
  min-height: 100vh;
  background-color: #adbdff;

  display: flex;
  padding-top: 50px;
  align-items: center;
  flex-direction: column;
}

.input {
  width: 30%;
  height: 35px;
  font-size: 22px;
  padding-left: 15px;
  border-radius: 5px;
}

.main-graph {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  background-color: #bcf4de;
  height: 530px;
  padding: 10px 20px;

  border-radius: 15px;
}

.main-graph ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
  padding-bottom: 10px;
}

.main-graph ul li {
  height: 100%;
}

.buttons {
  display: flex;
  margin: 20px;
  width: 500px;
  justify-content: space-around;
}

.buttons button:active,
button:focus {
  border: none;
  outline: none;
}

.buttons button {
  padding: 10px 20px;
  border-radius: 5px;
}
